<!-- Side navigation -->
<app-person></app-person>

<!-- Page content -->
<div class="main">
    <h1 class="text-center">{{ title }}</h1>
    <hr>
    <div class="container">
        <app-edu></app-edu>
    </div>
    <br>
    <div class="container">
        <app-skill></app-skill>
        <br>
        <app-fra></app-fra>
    </div>
    <br>
    <div class="container">
        <app-exp></app-exp>
    </div>
    <br>
    <div class="container">
        <app-achievement></app-achievement>
    </div>
</div>