/* The sidebar menu */
.sidenav {
  height: 100%; 
  width: 350px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: purple;
  font-size: 20px;
  overflow-x: hidden;
  padding-top: 20px;
}
  
.sidenav img {
  margin: 0px 0px 20px 30px;
  width: 80%;
  height: 35%;
}

.sidenav p {
  padding: 6px 8px 6px 6px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidenav h1 {
  color: white;
  display: block;
}

.profile img {
  margin: 0px 0px 20px 35px;
  width: 30%;
  height: 70%;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;font-size: 14px;}
}